
header{
    background-color: black;
}
.container{
    background-color: #00008bb5;
    color: white;
}
.container-wrapper{
    width: 90%;
    margin: auto;
    padding: 6px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
ul > li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logo > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.collapse{
    display: none;
}
.collapse > img {
    height: 30px;
}

.banner{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
    background-color: black;
}
.banner-info{
    background-color: #183937bf;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.banner-img > img{
    border-radius: 20px;
}
.banner-info > h1{
    border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-radius: 5px;
    width: 320px;
}
.banner-info > p{
    line-height: 32px;
    font-size: 18px;
}
@media screen and (max-width: 700px) {
    .navbar-disc{
        display: none;
    }
    .collapse {
        display: block;
    }
    .banner{
        flex-direction: column;
    }
    .banner-img>img {
        width: 420px;
        margin: auto;
    }
    .logo h2{
        font-size: 15px;
    }
    .banner-info h1{
        font-size: 16px;
        width: 65%;
    }
    .banner-img>img {
        width: 99%;
    }
    .banner-info > p {
        line-height: 18px;
        font-size: 14px;
    }
}